{% set apache2_set = salt['grains.filter_by']({ 

  'Debian': {
    'server': 'apache2',
    'service': 'apache2',
    'server_conf': '/etc/apache2/apache2.conf',
    'server_conf_source': 'salt://apache2/files/apache2.conf',
    'server_error': '/var/www/html/logs/error.log',
    'server_error_source': 'salt://apache2/files/error.log',
    'server_access': '/var/www/html/logs/access.log',
    'server_access_source': 'salt://apache2/files/access.log',
    'vhosts_loc': '/etc/apache2/sites-available/000-default.conf',
    'python': 'python-mysqldb',
  },

  'RedHat': {
    'server': 'httpd',
    'service': 'httpd',
    'server_conf': '/etc/httpd/conf/httpd.conf',
    'server_conf_source': 'salt://apache2/files/httpd.conf',
    'server_error': '/var/www/html/logs/error.log',
    'server_error_source': 'salt://apache2/files/error.log',
    'server_access': '/var/www/html/logs/access.log',
    'server_access_source': 'salt://apache2/files/access.log',
    'vhosts_loc': '/etc/httpd/vhosts.d/default-vhosts.conf',
    'python': 'MySQL-python',
  },

})%}


